<div class="row">
    <div class="col-md-3">
        <div class="border bg-light rounded p-1">
            <!-- <img src="~/img/p.ArtId.jpg" class="image-fliud" /> -->
            <ul>
                <li>1. Steph Curry. DAL. PG,SG.</li>
                <li>Team: @p.FantasyTeam.Name</li>
                <li>Rate Pick: # PICK RATER HERE#</li>
                <li><button id="draftButton" class="btn btn-primary" name="Stolen" value="@p.Id">Stolen</button></li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="border bg-light rounded p-1">
            <!-- <img src="~/img/p.ArtId.jpg" class="image-fliud" /> -->
            <ul>
                <li>2. Steph Curry. DAL. PG,SG.</li>
                <li>Team: @p.FantasyTeam.Name</li>
                <li>Rate Pick: # PICK RATER HERE#</li>
                <li><button id="draftButton" class="btn btn-primary" name="Stolen" value="@p.Id">Stolen</button></li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="border bg-light rounded p-1">
            <!-- <img src="~/img/p.ArtId.jpg" class="image-fliud" /> -->
            <ul>
                <li>3. Steph Curry. DAL. PG,SG.</li>
                <li>Team: @p.FantasyTeam.Name</li>
                <li>Rate Pick: # PICK RATER HERE#</li>
                <li><button id="draftButton" class="btn btn-primary" name="Stolen" value="@p.Id">Stolen</button></li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="border bg-light rounded p-1">
            <!-- <img src="~/img/p.ArtId.jpg" class="image-fliud" /> -->
            <ul>
                <li>4. Steph Curry. DAL. PG,SG.</li>
                <li>Team: @p.FantasyTeam.Name</li>
                <li>Rate Pick: # PICK RATER HERE#</li>
                <li><button id="draftButton" class="btn btn-primary" name="Stolen" value="@p.Id">Stolen</button></li>
            </ul>
        </div>
    </div>
</div>