<mat-card class="col-md-4" *ngFor="let pick of store.picks; index as i">
    <mat-card-header>
      <img
      mat-card-sm-image
      src="https://cdn.nba.com/headshots/nba/latest/260x190/fallback.png"
      />
      <mat-card-title-group>
        <mat-card-title>Pick {{ pick.pickNumber }} </mat-card-title>
        <mat-card-subtitle>{{ pick.fantasyTeam.name }}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content *ngIf="i===0"> {{ pick.fantasyTeam.drafterUser }} You're on the clock!
      {{ pick.fantasyTeam.name }} needs PG / SG
        Drafter Recommends picking: Joel Embiid (C)
    </mat-card-content>
  </mat-card>