<div class="row">
    <h4>t.Name</h4>
    <div class="row">
        <div class="col-md-6">
            <div class="border bg-light rounded p-1">
                <!-- <img src="~/img/p.ArtId.jpg" class="image-fliud" /> -->
                <h3>p.name  -  p.position</h3>
                <ul>
                    <li>Points:  p.points </li>
                    <li>NBA Team:  p.nbaTeam </li>
                    <li>Team:  p.fantasyTeam </li>
                </ul>
            </div>
            <div class="border bg-light rounded p-1">
                <!-- <img src="~/img/p.ArtId.jpg" class="image-fliud" /> -->
                <h3>p.name  -  p.position</h3>
                <ul>
                    <li>Points:  p.points </li>
                    <li>NBA Team:  p.nbaTeam </li>
                    <li>Team:  p.fantasyTeam </li>
                </ul>
            </div>
        </div>
    </div>
</div>