<div class="row">
    <h3>PLAYERPICKER</h3>
    <div *ngFor="let p of store.players" class="col-md-3">
        <div class="border bg-light rounded p-1">
            <!-- <img src="~/img/p.ArtId.jpg" class="image-fliud" /> -->
            <h3>
                {{ p.name }} - {{ p.position }}
                <form method="post">
                    <button id="draftButton" class="btn btn-success" name="Id" value="" [disabled]="">Draft</button>
                </form>
            </h3>
            <ul>
                <li>Points: {{ p.points }}</li>
                <li>NBA Team: {{ p.nbaTeam }}</li>
                <li>Team: {{ p.fantasyTeam }}</li>
            </ul>
        </div>
    </div>
</div>