<div class="row">
    <div *ngFor="let p of store.players" class="col-md-2">
        <div class="border bg-light rounded p-1">
            <!-- <img src="~/img/p.ArtId.jpg" class="image-fliud" /> -->
            <h3>
            {{ p.Name }} - {{ p.Position }}
            <!--><form method="post">
                    @if (p.DraftTime == DateTime.MinValue)
                    {
                    <button id="draftButton" class="btn btn-success" name="Id" value="@p.Id">Draft</button>
                    }
                    else
                    {
                    <button id="draftButton" class="btn btn-success" name="Id" value="" disabled>Drafted</button>
                    }
                </form>
            -->
            </h3>
            <ul>
                <li>Points: {{ p.Points }}</li>
                <li>NBA Team: {{ p.NBATeam }}</li>
                <li>Team: {{ p.FantasyTeam }}</li>
            </ul>
        </div>
    </div>
</div>
