<h3>PLAYERPICKER</h3>
<p-table 
    #dt1
    [value]="store.players"
    selectionMode="single" [(selection)]="playerDto" dataKey="id" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
    [globalFilterFields]="['name','nbaTeam','fantasyTeam']"
    [paginator]="true" [rows]="25"
    [showCurrentPageReport]="true"  
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} players" 
    [tableStyle]="{ 'min-width': '50rem' }" 
    styleClass="p-datatable-gridlines"
>
    <ng-template pTemplate="caption">
        <div class="flex">
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1, searchText)"></button>
            <p-selectButton [options]="tableTypes" [(ngModel)]="tableType" [multiple]="false" optionLabel="name" optionValue="value" (onChange)="onTableTypeChange()"></p-selectButton>
            <p-selectButton [options]="playerStatuses" [(ngModel)]="store.allPlayers" optionLabel="label" optionValue="value" (onChange)="onTableTypeChange()"></p-selectButton>
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText #searchText type="text" (input)="dt1.filterGlobal(getEventValue($event), 'contains')" placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">Name</th>
            <!--<th pSortableColumn="position">Position</th>-->
            <p-columnFilter field="position" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-dropdown [ngModel]="value" [options]="positionOptions" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                        <ng-template let-option pTemplate="item">
                            <p-tag [value]="option.value"></p-tag>
                        </ng-template>
                    </p-dropdown>
                </ng-template>
            </p-columnFilter>
            <th pSortableColumn="fantasyPoints">Fantasy Points</th>
            <th pSortableColumn="nbaTeam">NBA TEAM</th>
            <th pSortableColumn="fantasyTeam">TEAM</th>
            <th>Draft'em</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-p>
        <tr [pSelectableRow]="p">
            <td>{{ p.name }}</td>
            <td>{{ p.position }}</td>
            <td class="text-right">{{ p.fantasyPoints |  number : '0.2-4'}}</td>
            <td>{{ p.nbaTeam }}</td>
            <td>{{ p.fantasyTeam }}</td>
            <td><button type="button" pButton pRipple icon="pi pi-plus" (click)="draftPlayer(p)"></button>
                <!--
                    <form method="post">
                    <button id="draftButton" class="btn btn-success" name="Id" value="" [disabled]="">Draft</button>
                    </form>
                -->
            </td>
        </tr>
    </ng-template>
</p-table>