<div class="row">
    <h2 class="col-md-3">Our Draft 2023</h2>
    <presenter-last-pick class="col-md-3"> Previous Pick information</presenter-last-pick>
    <presenter-pick class="col-md-6"></presenter-pick>
</div>
<div class="row">
    <all-teams class="col-md-3"></all-teams>
    <div class="col-md-9">
        <presenter-viewer></presenter-viewer>
        <presenter-video-player></presenter-video-player>
    </div>
</div>
<div class="row">
    <presenter-time class="col-md-3"></presenter-time>
    <div class="col-md-3"><h2>this is the recommended player section</h2></div>
    <presenter-next-bests class="col-md-6"></presenter-next-bests>
</div>