<div class="row">
    <h2 class="col-md-3">Our Draft 2023</h2>
    <h5 class="col-md-3"> Previous Pick information</h5>
    <presenter-pick class="col-md-6"></presenter-pick>
</div>
<div class="row">
    <my-team class="col-md-3"></my-team>
    <div class="col-md-9">
        <h1>This is the viewer</h1>
        <presenter-video-player></presenter-video-player>
    </div>
</div>
<div>
    <presenter-time class="col-md-3"></presenter-time>
    <h2 class="col-md-9">this is the recommended player section</h2>
</div>