<div class="row">
    <h2 class="col-md-3">Our Draft 2023</h2>
    <presenter-last-pick class="col-md-3"> Previous Pick information</presenter-last-pick>
    <presenter-pick class="col-md-6"></presenter-pick>
</div>
<div class="row">
    <all-teams class="col-md-3"></all-teams>
    <div class="col-md-9">
        <presenter-viewer></presenter-viewer>
        <presenter-video-player></presenter-video-player>
    </div>
</div>
<div class="row">
    <div class="col-md-5"><h2>Best Availiable</h2></div>
    <div class="col-md-7"><h2>Next Bests</h2></div>
</div>
<div class="row">
    <presenter-next-best-player class="col-md-5"></presenter-next-best-player>
    <presenter-next-bests class="col-md-5"></presenter-next-bests>
    <presenter-time class="col-md-2"></presenter-time>
</div>