@model Pick // This is the same as a List, I could use this too
<h1>Next Pick</h1>
<div class="row">
    <div class="col-md-1">
        <div class="border bg-light rounded p-1">
            <!-- <img src="~/img/p.ArtId.jpg" class="image-fliud" /> -->
            <h3>@Model.FantasyTeam.Name You're on the clock!</h3>
        </div>
    </div>
    <div class="col-md-1">
        <div class="border bg-light rounded p-1">
            <!-- <img src="~/img/p.ArtId.jpg" class="image-fliud" /> -->
            <h4>@Model.FantasyTeam.Name needs</h4>
            <p>PG/SG</p>
            <p>Recommends picking: Joel Embiid</p>
        </div>
    </div>
</div>