<h1> Presenter </h1>
@section Scripts{
    <script src="~/presenterClient/polyfills.js"></script>
    <script src="~/presenterClient/runtime.js"></script>
    <script src="~/presenterClient/main.js" asp-append-version="true"></script>
}
@section head {
    <link href="~/presenterClient/styles.css" rel="stylesheet" />
}
<dashboard></dashboard>