<h2>Team: {{ store.currentTeamName }}</h2>
<p-table [value]="store.currentTeam" styleClass="p-datatable-gridlines"> 
 <ng-template pTemplate="header"> 
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Points</th>
            <th>NBA Team</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-p>
        <tr>
            <td>{{ p.name }}</td>
            <td>{{ p.position }}</td>
            <td>{{ p.fantasyPoints |  number : '0.0-4'}}</td>
            <td>{{ p.nbaTeam }}</td>
        </tr>
    </ng-template>
</p-table>