<div class="row">
    <div class="col-md-3" *ngFor="let player of store.timeline; index as i">
        <div class="border bg-light rounded p-1">
            <!-- <img src="~/img/p.ArtId.jpg" class="image-fliud" /> -->
            <ul>
                <li>{{ i+1 }}. {{ player.name }}. {{ player.nbaTeam }}. {{ player.position }}.</li>
                <li>Team: {{ player.fantasyTeam }}</li>
                <li>Rate Pick: # PICK RATER HERE#</li>
                <li><button id="draftButton" class="btn btn-primary" name="Stolen" value="@p.Id">Stolen</button></li>
            </ul>
        </div>
    </div>
</div>